.pro{
  justify-content: center;
}
.prog{
  width: 280px;
  height: 410px;
  text-align: center;
  padding: 20px;
  margin: 40px;;
  border-radius: 15px;
  background-color: #353535;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  position: relative;
  bottom: 38px;
  right: 78px;
}
.prog-layer{
  width: 280px;
  height: 410px;
  text-align: center;
  padding: 20px;
  margin: 40px;;
  border-radius: 15px;
  background-color: #353535;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.pro-img{
  width: 190px;
  padding: 25px;
  filter: drop-shadow(10px 10px 7px #0c1012);
}
.pro-title{
  font-weight: 700;
  padding: 17px 10px 4px 10px;
  color: white;
}
.pro-text{
  font-weight: 400;
  font-size: 1.15rem;
  color: white;
}








body{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
h2{
  color: white;
  font-weight: 800;
  font-size: 2rem;
  font-family: monospace;
}
h5{
  color: white;
  font-weight: 400;
}
a{
  text-decoration: none;
  color: white;
}
.navbar a:hover, a:hover, h2:hover, .pro-title:hover{
  color: #ff4c68;
}
.card{
  text-align: center;
  margin: 12%;
  background-color: #353535;
}
.card-img-top{
  width: 180px;
  margin: 16%;
  padding: 0;
}
.card-title{
  font-weight: 700;
  color: white;
}
.card-text{
  font-weight: 400;
  font-size: 1.1rem;
  color: white;
}

.col{
  margin-bottom: 6%;
  padding: 0;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 18px;
}
.navbar {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
}
.navbar a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
}

.logo {
    margin-right: 50px;
}
.list {
    list-style: none;
    display: flex;
    gap: 25px;
}
#toggler,
.navbar label {
    display: none;
}


.wrapper{
  height: 100vh;
  display: grid;
  place-items: center;
  display: flex;
  align: left;
  margin: 35px 17%;
  padding-top: 25px;
  text-align: center;
}
.img1{
  height: 500px;
  width:auto;
  margin: 0;
  padding: 0;
}
.img2{
  width: 420px;
  height: auto;
}
.img3{
  width: 450px;
  height: auto;
  padding: 0;
  margin: 0;
}
.typing{
  color: white;
  width: 22ch;
  animation: typing 2s steps(20), blink .5s step-end infinite alternate;
  border-right: 5px solid;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 1.9rem;
  padding: 0;
}


@keyframes typing {
  from {
    width: 0
  }
}
@keyframes blink {
  50% {
  border-color: transparent
}
}




@media only screen and (max-width: 600px) {
  .menu {
      width: 100%;
      max-height: 0;
      overflow: hidden;
  }
  .list {
      flex-direction: column;
      align-items: center;
      padding: 10px;
  }
  .navbar label {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
  }
  #toggler:checked ~ .menu {
      max-height: 100%;
  }

  .img1{
    height: 300px;
  }
  .img2{
    width: 250px;
  }
  .img3{
    width: 280px;
  }
  .wrapper{
    margin: 0 3.5%;
    max-height: 400px;
  }
  .abt, .tech{
    margin: 0 3.5%;
  }
  .pro{
    margin: 0 1.5%;
  }
  .card-img-top{
    width: 160px;
    margin-left: 19.5%;
  }
  .card-text{
    max-height: 40px;
  }
  .tech-1{
    padding-top: 30px;
  }
}
@media only screen and (min-width: 600px) {

  .img1{
    height: 400px;
  }
  .img2{
    width: 350px;
  }
  .wrapper{
    margin: 0 10%;
    max-height: 500px;
  }
  .abt, .tech{
    margin: 0 7%;
  }
  .pro{
    margin: 0 13%;
  }
  .card-img-top{
    width: 200px;
    margin: 23%;
  }
  .card-text{
    max-height: 0px;
  }
  .tech-1{
    padding-top: 60px;
  }
}

@media only screen and (min-width: 1200px) {
  .img1{
    height: 500px;
  }
  .img2{
    width: 420px;
  }
  .wrapper{
    margin: 0 25%;
    max-height: 550px;
  }
  .abt, .tech{
    margin: 0 15%;
  }
  .pro{
    margin: 0 11%;
  }
  .card-img-top{
    width: 190px;
    margin: 18%;;
  }
  .card-text{
    max-height: 0px;
  }
  .abt-2{
    position: relative;
    top: 120px;
  }
  .tech-1{
    padding-top: 160px;
  }
}
